@page
@inject SignInManager<ApplicationUser> SignInManager
@model IndexModel

<row>
    <div class="col-lg-10 col-lg-offset-1">
        <a href="https://www.novanet.no"><img src="~/images/NN_Logo_Liten_RGB.svg" alt="novanet-logo" width="100" /></a>
        <div class="nav-links pull-right">
            <a class="nav-links" asp-page="/Highscore/Highscore">Poeng</a><a class="nav-links" asp-page="/Doors/PreviousDoors">Tidligere luker</a>
        </div>
    </div>
</row>
<div style="clear:both"></div>
<row>
    <div class="col-container">
        <div class="col col-lg-5 col-lg-offset-1 col-md-6 box-big box-image box-splash visible-lg visible-md"></div>
        <div class="col col-lg-5 col-md-6 box-black box-big text-center box-splash">
            <span class="box-big"><strong>Velkommen til Novanets <span class="text-green">julekalender</span> 2020</strong></span>
        </div>
    </div>
</row>
<div style="clear:both"></div>
<row>
    <div class="col-lg-10 col-lg-offset-1 text-center box-grey">
        <h1><strong>Dagens luke</strong></h1>
        <br />
        @if (Model.TodaysDoor == null)
        {
            @if (DateTime.Now.DayOfWeek == DayOfWeek.Saturday || DateTime.Now.DayOfWeek == DayOfWeek.Sunday)
            {
                <span>Kalenderen har helgefri! </span>
            }
            else
            {
                <span>Det er ingen luke for i dag</span>
            }

            @if (Model.NextDoor != null)
            {
                <br />
                <span>Neste luke er @Model.NextDoor.ForDate.Day. des</span>
            }
        }
        else if (!SignInManager.IsSignedIn(User))
        {
            <strong>Logg inn med:</strong><br /><br />
            <form asp-page="./Account/ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
            <span>NB! Bruk samme innloggingsmetode hver gang.</span>
        }
        else
        {
            <a class="btn btn-danger" asp-page="/Doors/Today">Åpne luke</a><br /><br />
            @*<span>
                <strong>NB!</strong> Når du åpner luken første gang så vil tidspunktet for dette bli registrert.<br />
                Hvis du sender inn korrekt og endelig svar innen én time gir det ett ekstrapoeng.
            </span>*@
        }
    </div>
</row>
<div style="clear:both"></div>
<row>
    <div class="col-lg-10 col-lg-offset-1 text-center box-grey">
        <h1><strong>Slik fungerer det</strong></h1>
        <br /><br />
        <row>
            <div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box-middle">
                    <h2 class="text-green"><strong>Hvordan</strong></h2>
                    Hver luke i kalenderen er et bilde fra et sted i NORGE!<br /><br />
                    Du skal svare på hvilket sted og fylke dette er. Sted kan være by, tettsted, fjell etc.<br /><br />
                    Svaret må leveres dagen luken gjelder for. <br />
                    <br />
                    NB! Det er ingen luker i helgene.
                    <br />
                    <br />
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box-middle">
                    <h2 class="text-green"><strong>Poeng</strong></h2>
                    Poengene beregnes ut fra vanskelighetsgrad på lukene:<br /><br />Enkel, middels, vanskelig luke gir hhv. 1+1 poeng, 2+1 poeng og 3+1 poeng (sted + fylke).

                    <br />
                    <br />
                    Poengene blir oppdatert daglig på poengsiden.
                    <br />
                    <br />
                    NB! Tidsbruk har ingen påvirkning på poeng denne gang.<br />
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box-middle">
                    <h2 class="text-green"><strong>Vinner</strong></h2>
                    Når kalenderen er ferdig vinner den med flest poeng.
                    <br /><br />
                    Hvis det er flere som har likt antall poeng totalt så blir det loddtrekning.
                    <br /><br />
                    Lykke til og god reise!<br/>
                                           <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </row>
        <div style="clear:both"></div>
        <row>
            <div class="col-lg-12 text-center">
                <br class="visible-lg visible-md" />
                <br />
                Det koster ingenting å delta i konkurransen.<br />
                Ansatte i Novanet kan også delta.<br /><br />

                Kalenderen avsluttes tirsdag 22.desember.
            </div>
        </row>
    </div>
</row>
<div style="clear:both"></div>
<row>
    <div class="col-lg-10 col-lg-offset-1 text-center box-grey">
        <h1><strong>Premie</strong></h1><br /><br />
        <div class="col-lg-6 col-lg-offset-3">
            <img src="~/images/gavekort.jpg" alt="premie-gavekort" width="100%"/>
            <br />
            <br />
            <p>Vinneren av konkurransen får et gavekort på Nomaden til 500 kr.</p>
        </div>
    </div>
</row>
<div style="clear:both"></div>
<row>
    <div class="col-lg-10 col-lg-offset-1 text-center box-grey">
        <h1><strong>Husk!</strong></h1><br /><br />Det er lov å svare flere ganger, det siste innsendte svaret teller.
    </div>
</row>
<div style="clear:both"></div>
<row>
    <div class="col-lg-10 col-lg-offset-1 text-center" style="margin-top: 7em; margin-bottom: 3em">
        <a asp-page="/Highscore/HardModeHighscore"><img style="width: 5em;" src="https://media.giphy.com/media/dvkFZr4VBBS6I/giphy.gif"/></a>
    </div>
</row>